<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">
<!-- saved from url=(0052)http://www.liriknasyid.com/index.php/lirik/usul_form -->
<HTML><HEAD><TITLE>LirikNasyid.com</TITLE>
<SCRIPT language=JavaScript type=text/JavaScript>
<!--
function validate() { //v4.01
 	if(myform.title.value==""){
		alert("Anda belum memasukkan Judul")
		return false;
	}
	
	if(myform.munsyid.value==""){
		alert("Anda belum memasukkan Artis/Munsyid")
		return false;
	}

	if(myform.sender.value==""){
		alert("Anda belum memasukkan nama anda sebagai Pengirim");
		return false;
	}

	if(myform.text.value==""){
		alert("Anda belum memasukkan Lirik");
		return false;
	}
	return true;
}
//-->
</SCRIPT>

<META http-equiv=Content-Language content=en-us>
<META http-equiv=Content-Type content="text/html; charset=windows-1252"><LINK 
title="RSS 2.0" href="http://www.liriknasyid.com/index.php/xml/lirik/rss.xml" 
type=application/rss+xml rel=alternate>
<STYLE type=text/css>BODY {
	MARGIN-TOP: 0px; MARGIN-BOTTOM: 0px; BACKGROUND-COLOR: #6699cc
}
INPUT {
	BORDER-RIGHT: #9bcdff 1px solid; BORDER-TOP: #9bcdff 1px solid; FONT-SIZE: 11px; BORDER-LEFT: #9bcdff 1px solid; BORDER-BOTTOM: #9bcdff 1px solid; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; BACKGROUND-COLOR: #e1f0ff
}
SELECT {
	BORDER-RIGHT: #9bcdff 1px solid; BORDER-TOP: #9bcdff 1px solid; FONT-SIZE: 11px; BORDER-LEFT: #9bcdff 1px solid; BORDER-BOTTOM: #9bcdff 1px solid; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; BACKGROUND-COLOR: #e1f0ff
}
TEXTAREA {
	BORDER-RIGHT: #9bcdff 1px solid; BORDER-TOP: #9bcdff 1px solid; FONT-SIZE: 11px; BORDER-LEFT: #9bcdff 1px solid; BORDER-BOTTOM: #9bcdff 1px solid; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; BACKGROUND-COLOR: #e1f0ff
}
scrolbar {
	BORDER-RIGHT: #9bcdff 1px solid; BORDER-TOP: #9bcdff 1px solid; FONT-SIZE: 11px; BORDER-LEFT: #9bcdff 1px solid; BORDER-BOTTOM: #9bcdff 1px solid; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; BACKGROUND-COLOR: #e1f0ff
}
.menukiri {
	MARGIN-TOP: 5px; MARGIN-LEFT: 10px
}
.abjad {
	BORDER-TOP: #9bcdff 1px solid; BORDER-BOTTOM: #9bcdff 1px solid
}
.bottomline {
	BORDER-BOTTOM: #9bcdff 1px solid
}
A.menu:visited {
	FONT: bold 14px Georgia, "Times New Roman", Times, serif; COLOR: #ffffff; TEXT-DECORATION: none
}
A.menu:hover {
	FONT: bold 14px Georgia, "Times New Roman", Times, serif; COLOR: #ffcc00; TEXT-DECORATION: none
}
A.menu:link {
	FONT: bold 14px Georgia, "Times New Roman", Times, serif; COLOR: #ffffff; TEXT-DECORATION: none
}
A.shout:hover {
	FONT-SIZE: 11px; COLOR: #990000; FONT-FAMILY: Georgia, Arial, Helvetica, sans-serif; TEXT-DECORATION: none
}
A.shout:link {
	FONT-SIZE: 11px; COLOR: #990000; FONT-FAMILY: Georgia, Arial, Helvetica, sans-serif; TEXT-DECORATION: none
}
A.shout:visited {
	FONT-SIZE: 11px; COLOR: #ff6600; FONT-FAMILY: Georgia, Arial, Helvetica, sans-serif; TEXT-DECORATION: none
}
.batas {
	BORDER-RIGHT: #9bcdff 1px dotted
}
A:link {
	FONT: 12px Georgia, "Times New Roman", Times, serif; COLOR: #990000; TEXT-DECORATION: none
}
A:hover {
	FONT: 12px Georgia, "Times New Roman", Times, serif; COLOR: #6666ff; TEXT-DECORATION: none
}
A:visited {
	FONT: 12px Georgia, "Times New Roman", Times, serif; COLOR: #ff6600; TEXT-DECORATION: none
}
TD {
	FONT-SIZE: 12px; FONT-FAMILY: Georgia, "Times New Roman", Times, serif
}
.title {
	FONT-WEIGHT: bold; FONT-SIZE: 18px; FONT-FAMILY: Georgia, "Times New Roman", Times, serif
}
.arab {
	FONT-SIZE: 18px; FONT-FAMILY: "Traditional Arabic", Times, serif
}
.attr {
	FONT-SIZE: 11px; FONT-FAMILY: Georgia, "Times New Roman", Times, serif
}
.text {
	FONT-SIZE: 12px; FONT-FAMILY: Georgia, "Times New Roman", Times, serif
}
.small {
	FONT-SIZE: 10px; COLOR: #cae4ff; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
.arti {
	FONT-SIZE: 14px; FONT-FAMILY: Georgia, Arial; TEXT-ALIGN: left
}
PRE {
	FONT-FAMILY: Fixedsys,"Courier New", Courier, mono
}
#navcontainer UL {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FLOAT: left; PADDING-BOTTOM: 0px; MARGIN: 0px; WIDTH: 100%; COLOR: white; PADDING-TOP: 0px; FONT-FAMILY: arial, helvetica, sans-serif; BACKGROUND-COLOR: #036
}
#navcontainer UL LI {
	DISPLAY: inline
}
#navcontainer UL LI A {
	BORDER-RIGHT: #fff 1px solid; PADDING-RIGHT: 1em; PADDING-LEFT: 1em; FONT-WEIGHT: bold; FONT-SIZE: 11px; FLOAT: left; PADDING-BOTTOM: 0.5em; COLOR: white; PADDING-TOP: 0.5em; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; BACKGROUND-COLOR: #036; TEXT-DECORATION: none
}
#navcontainer UL LI A:hover {
	COLOR: #fff; BACKGROUND-COLOR: #369
}
.button {
	BORDER-TOP-WIDTH: 1px; BORDER-LEFT-WIDTH: 2px; BORDER-LEFT-COLOR: white; BORDER-BOTTOM-WIDTH: 1px; BORDER-BOTTOM-COLOR: #dcdcdc; COLOR: #666666; BORDER-TOP-COLOR: white; BACKGROUND-COLOR: #f0f0f0; BORDER-RIGHT-WIDTH: 2px; BORDER-RIGHT-COLOR: #dcdcdc
}
</STYLE>

<META content="MSHTML 6.00.2900.2873" name=GENERATOR></HEAD>
<BODY>
<TABLE borderColor=#111111 cellSpacing=0 cellPadding=0 width=600 align=center 
border=0>
  <TBODY>
  <TR>
    <TD vAlign=top><IMG height=175 src="/images/header.jpg" 
      width=800></TD></TR>
  <TR>
    <TD vAlign=top><SPAN id=navcontainer>
      <UL>
        <LI><A href="http://www.liriknasyid.com/index.php">Home</A> 
        <LI><A href="http://www.liriknasyid.com/index.php/lirik/new">Baru</A> 
        <LI><A href="http://www.liriknasyid.com/index.php/lirik/top">Populer</A> 

        <LI><A href="http://www.liriknasyid.com/index.php/chord">Chord</A> 
        <LI><A href="http://www.liriknasyid.com/index.php/download">Download</A> 

        <LI><A href="http://www.liriknasyid.com/index.php/link">Link</A> 
        <LI><A 
        href="http://www.liriknasyid.com/index.php/page/1/about.html">Tentang</A> 

        <LI><A 
        href="http://www.liriknasyid.com/index.php/lirik/usul_form">Upload 
        Lirik</A> </LI></UL></SPAN></TD></TR>
  <TR bgColor=#2f60bf>
    <TD vAlign=top>
      <TABLE cellSpacing=0 cellPadding=0 width="100%" align=center border=0>
        <TBODY>
        <TR>
          <TD vAlign=top align=middle bgColor=#b4d5f5><BR>
            <TABLE cellSpacing=0 cellPadding=4 width="95%" border=0>
              <TBODY>
              <TR>
                <TD vAlign=center align=middle>
                  <FORM action=http://www.liriknasyid.com/index.php 
                  method=get><INPUT id=s size=30 name=s>&nbsp; <SELECT name=c> 
                    <OPTION value=all selected>A L L</OPTION> <OPTION 
                    value=artis>Artis/Munsyid</OPTION> <OPTION 
                    value=title>Judul</OPTION> <OPTION 
                    value=album>Album</OPTION> <OPTION 
                  value=lirik>Lirik</OPTION></SELECT> <INPUT type=hidden 
                  value=lirik name=mod> &nbsp;<INPUT class=button type=submit value=Search name=Submit> 
                  </FORM></TD></TR></TBODY></TABLE><BR>
            <TABLE cellSpacing=0 cellPadding=4 width="95%" align=center 
border=0>
              <TBODY>
              <TR>
                <TD class=abjad align=middle bgColor=#ffffff><A 
                  href="http://www.liriknasyid.com/index.php/lirik/abjad/a">a</A> 
                  . <A 
                  href="http://www.liriknasyid.com/index.php/lirik/abjad/b">b</A> 
                  . <A 
                  href="http://www.liriknasyid.com/index.php/lirik/abjad/c">c</A> 
                  . <A 
                  href="http://www.liriknasyid.com/index.php/lirik/abjad/d">d</A> 
                  . <A 
                  href="http://www.liriknasyid.com/index.php/lirik/abjad/e">e</A> 
                  . <A 
                  href="http://www.liriknasyid.com/index.php/lirik/abjad/f">f</A> 
                  . <A 
                  href="http://www.liriknasyid.com/index.php/lirik/abjad/g">g</A> 
                  . <A 
                  href="http://www.liriknasyid.com/index.php/lirik/abjad/h">h</A> 
                  . <A 
                  href="http://www.liriknasyid.com/index.php/lirik/abjad/i">i</A> 
                  . <A 
                  href="http://www.liriknasyid.com/index.php/lirik/abjad/j">j</A> 
                  . <A 
                  href="http://www.liriknasyid.com/index.php/lirik/abjad/k">k</A> 
                  . <A 
                  href="http://www.liriknasyid.com/index.php/lirik/abjad/l">l</A> 
                  . <A 
                  href="http://www.liriknasyid.com/index.php/lirik/abjad/m">m</A> 
                  . <A 
                  href="http://www.liriknasyid.com/index.php/lirik/abjad/n">n</A> 
                  . <A 
                  href="http://www.liriknasyid.com/index.php/lirik/abjad/o">o</A> 
                  . <A 
                  href="http://www.liriknasyid.com/index.php/lirik/abjad/p">p</A> 
                  . <A 
                  href="http://www.liriknasyid.com/index.php/lirik/abjad/q">q</A> 
                  . <A 
                  href="http://www.liriknasyid.com/index.php/lirik/abjad/r">r</A> 
                  . <A 
                  href="http://www.liriknasyid.com/index.php/lirik/abjad/s">s</A> 
                  . <A 
                  href="http://www.liriknasyid.com/index.php/lirik/abjad/t">t</A> 
                  . <A 
                  href="http://www.liriknasyid.com/index.php/lirik/abjad/u">u</A> 
                  . <A 
                  href="http://www.liriknasyid.com/index.php/lirik/abjad/v">v</A> 
                  . <A 
                  href="http://www.liriknasyid.com/index.php/lirik/abjad/w">w</A> 
                  . <A 
                  href="http://www.liriknasyid.com/index.php/lirik/abjad/x">x</A> 
                  . <A 
                  href="http://www.liriknasyid.com/index.php/lirik/abjad/y">y</A> 
                  . <A 
                  href="http://www.liriknasyid.com/index.php/lirik/abjad/z">z</A> 
                  . <A 
                  href="http://www.liriknasyid.com/index.php/lirik/all">all</A> 
                </TD></TR></TBODY></TABLE><BR><BR>
<p>
  <b>Judul:</b>
  <%=h @nasyid.Judul %>
</p>

<p>
  <b>Artis:</b>
  <%=h @nasyid.Artis %>
</p>

<p>
  <b>Album:</b>
  <%=h @nasyid.Album %>
</p>

<p>
  <b>Pengirim:</b>
  <%=h @nasyid.Pengirim %>
</p>

<p>
  <b>Email:</b>
  <%=h @nasyid.Email %>
</p>

<p>
  <b>Sumber:</b>
  <%=h @nasyid.Sumber %>
</p>

<p>
  <b>Kategori:</b>
  <%=h @nasyid.Kategori %>
</p>

<p>
  <b>Lirik:</b>
  <%=h @nasyid.Lirik %>
</p>


<%= link_to 'Kemaskini', edit_nasyid_path(@nasyid) %> |
<%= link_to 'Kembali', nasyids_path %>

</DIV></TD></TR></TBODY></TABLE></TD></TR>
  <TR bgColor=#2f60c0>
    <TD vAlign=center align=middle height=30>
      <DIV class=small>Lirik Nasyid © 2004-2006 Konsep &amp; design by 
      kank_agus, programming by achedy. <BR><b>Translated to Ruby by Azwan B Mohamed (P47882) & Mohd Asri Mohamad Stambul (P50093), FTSM, UKM</b> <BR>Hosting Supported by <A 
      href="http://muntada.com/"><FONT color=#fffff>muntada.com</FONT></A></DIV><!--google analytics by achedy-->
      <SCRIPT src="LirikNasyid_com_files/urchin.js" type=text/javascript>
</SCRIPT>

      <SCRIPT type=text/javascript>
_uacct = "UA-414543-2";
urchinTracker();
</SCRIPT>
    </TD></TR></TBODY></TABLE>
<CENTER></CENTER>
<DIV></DIV></BODY></HTML>